
@charset "UTF-8";

.nav-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -9.81333rem;
  width: 9.81333rem;
  background-color: #fff;
  color: #313131;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 99;
}

.nav-list.show {
  -webkit-transform: translateX(9.81333rem);
          transform: translateX(9.81333rem);
}

/*侧边栏列表*/

.list-ul {
  margin: 0 0.512rem;
  border-top: 0.02133rem solid #d4d4d4;
  overflow: hidden;
  padding-top: 9%;
}

.list-ul .item {
  display: block;
  font-weight: 200;
  padding: 9% 0;
  text-align: left;
  text-indent: 0.02133rem;
  color: #313131;
  font-weight: 700;
}

.list-ul .item:last-child {
  margin-bottom: 1.06667rem;
}

.list-ul .item:before {
  color: #2c3e50;
}

.list-ul .line {
  border-top: 0.02133rem solid #d4d4d4;
}



.add-container {
  margin-top: 2.13333rem;
  background-color: #fff;
}

.add-container .line {
  padding: 0.21333rem 0.32rem;
  border-bottom: solid 0.02133rem #d4d4d4;
  font-size: 0.64rem;
}

.add-container .line .add-btn {
  color: #fff;
  background-color: #80bd01;
  padding: 0.21333rem 0.53333rem;
  border-radius: 0.10667rem;
  vertical-align: middle;
  display: inline;
}

.add-container .line .add-tab {
  display: inline-block;
  width: -webkit-calc(100% - 220PX);
  width: calc(100% - 220PX);
  min-width: 50%;
  background: transparent;
  padding: 0.064rem;
  margin: 0.064rem 0.128rem;
  vertical-align: middle;
  border: 0.02133rem solid #222;
}

.add-container .line .add-title {
  font-size: 0.34133rem;
  border: none;
  width: 100%;
  background: transparent;
  height: 0.53333rem;
}

.add-container .line .err {
  border: solid 0.02133rem red;
}

.add-container .add-content {
  margin: 0.32rem 2%;
  width: 96%;
  border-color: #d4d4d4;
  color: #000;
}

.add-container .err {
  border: solid 0.02133rem red;
}


