.add-container {
  margin-top: 2.13333rem;
  background-color: #fff;
}

.add-container .line {
  padding: 0.21333rem 0.32rem;
  border-bottom: solid 0.02133rem #d4d4d4;
  font-size: 0.64rem;
}

.add-container .line .add-btn {
  color: #fff;
  background-color: #80bd01;
  padding: 0.21333rem 0.53333rem;
  border-radius: 0.10667rem;
  vertical-align: middle;
  display: inline;
}

.add-container .line .add-tab {
  display: inline-block;
  width: -webkit-calc(100% - 220PX);
  width: calc(100% - 220PX);
  min-width: 50%;
  background: transparent;
  padding: 0.064rem;
  margin: 0.064rem 0.128rem;
  vertical-align: middle;
  border: 0.02133rem solid #222;
}

.add-container .line .add-title {
  font-size: 0.34133rem;
  border: none;
  width: 100%;
  background: transparent;
  height: 0.53333rem;
}

.add-container .line .err {
  border: solid 0.02133rem red;
}

.add-container .add-content {
  margin: 0.32rem 2%;
  width: 96%;
  border-color: #d4d4d4;
  color: #000;
}

.add-container .err {
  border: solid 0.02133rem red;
}


