.topic {
  display: -webkit-flex;
  display: flex;
  padding: 0.32rem;
  border-bottom: 0.02133rem solid #f1f1f1;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.info {
  display: -webkit-flex;
  display: flex;
  height: 1.38667rem;
  margin-bottom: 0.10667rem;
  margin-top: 0.10667rem;
}

.info .author {
  font-size: 0.59733rem;
}

.bold {
  font-size: 0.68267rem;
  font-weight: bold;
}

.avatar {
  max-width: 65Px;
  max-height: 65Px;
  border-radius: 50%;
  margin-right: 10Px;
}

.middle {
  -webkit-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: flex;
  margin-left: 0.21333rem;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.mr10 {
  margin-right: 0.21333rem;
}

.info .replies {
  font-size: 0.42667rem;
  color: darkgray;
}

.node {
  float: right;
}

.node .tag {
  font-size: 0.512rem;
  padding: 0.10667rem 0.32rem;
  float: right;
  background-color: #eeeeee;
  border-radius: 0.10667rem;
}

.title {
  margin-top: 0.21333rem;
  font-size: 0.64rem;
}


.wx_loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);
}

.wx_loading .wx_loading_inner {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -1.49333rem;
  margin-top: -1.024rem;
  width: 3.2rem;
  border-radius: 0.128rem;
  font-size: 0.29867rem;
  padding: 1.23733rem 0 0.21333rem 0;
}

.wx_loading .wx_loading_inner .wx_loading_icon {
  position: absolute;
  top: 0.32rem;
  left: 50%;
  margin-left: -0.34133rem;
  width: 0.512rem;
  height: 0.512rem;
  border: 0.04267rem solid #fff;
  border-radius: 0.512rem;
  -webkit-animation: gif 1s infinite linear;
          animation: gif 1s infinite linear;
  clip: rect(0 auto 0.256rem 0);
}

@-webkit-keyframes gif {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes gif {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



@charset "UTF-8";

.nav-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -9.81333rem;
  width: 9.81333rem;
  background-color: #fff;
  color: #313131;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 99;
}

.nav-list.show {
  -webkit-transform: translateX(9.81333rem);
          transform: translateX(9.81333rem);
}

/*侧边栏列表*/

.list-ul {
  margin: 0 0.512rem;
  border-top: 0.02133rem solid #d4d4d4;
  overflow: hidden;
  padding-top: 9%;
}

.list-ul .item {
  display: block;
  font-weight: 200;
  padding: 9% 0;
  text-align: left;
  text-indent: 0.02133rem;
  color: #313131;
  font-weight: 700;
}

.list-ul .item:last-child {
  margin-bottom: 1.06667rem;
}

.list-ul .item:before {
  color: #2c3e50;
}

.list-ul .line {
  border-top: 0.02133rem solid #d4d4d4;
}



.icon-top {
  position: fixed;
  right: 0.21333rem;
  bottom: 1.70667rem;
  font-size: 1.28rem;
  z-index: 9999;
  color: #42b983;
}



