@charset "UTF-8";

/* 颜色 */

/* 基础布局 */

.mt5 {
  margin-top: 5PX;
}

.mt10 {
  margin-top: 10PX;
}

.color80 {
  color: #42b983;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.display-flex {
  /* Firefox */
  /* IE10 */
  /* Safari */
  display: -webkit-flex;
  /* Chrome, WebKit */
  display: flexbox;
  display: flex;
}

.break,
.user .title,
.user .about-info dt,
.about-info .user dt,
.user .info .t-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user {
  width: 100%;
  margin: 10PX 0;
  padding: 0 10PX;
  display: -webkit-flex;
  display: flex;
}

.user .tab {
  display: inline-block;
  width: 40PX;
  color: #626262;
  border-radius: 5PX;
  background-color: #e7e7e7;
  margin-right: 10PX;
  text-align: center;
  height: 20PX;
  line-height: 20PX;
  vertical-align: middle;
}

.user .good {
  background-color: #80bd01;
  color: #fff;
}

.user .title,
.user .about-info dt,
.about-info .user dt {
  font-size: 18PX;
  font-weight: bold;
  display: block;
  width: 100%;
  -webkit-flex: 1;
          flex: 1;
}

.user .head {
  display: inline-block;
  width: 45PX;
  height: 45PX;
  margin-right: 10PX;
  border-radius: 0.21333rem;
}

.user .head img {
  width: 45PX;
  border: 0.04267rem solid #fff6e6;
  border-radius: 50%;
}

.user .info {
  overflow: hidden;
  display: block;
  width: 100%;
  -webkit-flex: 1;
          flex: 1;
}

.user .info:after {
  clear: both;
}

.user .info .t-title {
  font-size: 18PX;
  font-weight: bold;
  width: 100%;
  color: #333;
}

.user .info .mt12 {
  margin-top: 0.256rem;
}

.user .info .cl {
  display: inline-block;
  width: 68%;
}

.user .info .cl .name {
  color: #626262;
}

.user .info .cl .mt10 {
  margin-top: 10PX;
}

.user .info .cr {
  width: 30%;
  display: inline-block;
  text-align: right;
}

.user .info .cr .name {
  margin-top: 10PX;
  color: #80bd01;
  font-size: 12PX;
}

.reply_content {
  padding: 0 15PX;
  margin-bottom: 15PX;
}

.reply_content img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.reply_content p {
  line-height: 1.3;
}

.no-data {
  width: 100%;
  height: 100%;
  padding: 40% 0;
  color: #d4d4d4;
  display: inline-block;
  font-size: 18PX;
  text-align: center;
}

/*
**   rework 分界线
**   ------------
*/

/* 综合布局 */

.text-overflow,
.title,
.about-info dt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-nooverflow {
  color: #2c3e50;
  font-size: 16PX;
  line-height: 1.5;
}

.title,
.about-info dt {
  color: #2c3e50;
  font-size: 16PX;
  line-height: 1.5;
}

.markdown-text {
  font-size: 0.59733rem;
}

.tag {
  padding: 0.10667rem 0.128rem;
  font-size: 10PX;
  font-weight: 400;
  border-radius: 4PX;
  background-color: #e7e7e7;
  text-align: center;
  vertical-align: middle;
}

.user-avatar {
  display: block;
  width: 40Px;
  height: 40Px;
  border-radius: 50%;
  margin-right: 10Px;
  border: 0.02133rem solid #F3F3F3;
}

.about-info {
  height: 100%;
  padding: 2.13333rem 0.32rem;
  line-height: 1.5;
  background: #f7f7f7;
}

.about-info dt {
  padding: 1em 0;
  font-weight: bold;
  display: block;
}

.about-info dd {
  padding-bottom: 0.32rem;
  font-size: 14PX;
  border-bottom: 1PX solid #d5dbdb;
  display: block;
}

.about-info a {
  color: #42b983;
}


