
@charset "UTF-8";

.nav-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -9.81333rem;
  width: 9.81333rem;
  background-color: #fff;
  color: #313131;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 99;
}

.nav-list.show {
  -webkit-transform: translateX(9.81333rem);
          transform: translateX(9.81333rem);
}

/*侧边栏列表*/

.list-ul {
  margin: 0 0.512rem;
  border-top: 0.02133rem solid #d4d4d4;
  overflow: hidden;
  padding-top: 9%;
}

.list-ul .item {
  display: block;
  font-weight: 200;
  padding: 9% 0;
  text-align: left;
  text-indent: 0.02133rem;
  color: #313131;
  font-weight: 700;
}

.list-ul .item:last-child {
  margin-bottom: 1.06667rem;
}

.list-ul .item:before {
  color: #2c3e50;
}

.list-ul .line {
  border-top: 0.02133rem solid #d4d4d4;
}


.icon-top {
  position: fixed;
  right: 0.21333rem;
  bottom: 1.70667rem;
  font-size: 48PX;
  z-index: 9999;
  color: #42b983;
}

