    .page-body {
      margin-top: 100px;
      padding: 50px 15px;
      min-height: 400px;
      background-color: #fff;
      .label {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        position: relative;
        left: 0;
        top: 0;

        .txt {
          padding: 12px 0;
          border: none;
          border-bottom: 1px solid #4fc08d;
          background-color: transparent;
          width: 100%;
          font-size: 14px;
          color: #313131;
        }

        .button {
          display: inline-block;
          width: 99%;
          height: 80px;
          line-height: 80px;
          border-radius: 3px;
          color: #fff;
          font-size: 32px;
          background-color: #4fc08d;
          border: none;
          border-bottom: 4px solid #3aa373;
          text-align: center;
          vertical-align: middle;
        }

        .file {
          position: absolute;
          top: 0;
          left: 0;
          height: 42px;
          width: 48%;
          outline: medium none;
          opacity: 0;
        }
      }
    }
