#brim-mask {
    pointer-events: none;
}

.page-box {
    padding-top: 100px;
    background-color:#fff;
    transition: all .3s ease;
    // overflow-x:hidden;
}

.show-menu {
    transform: translateX($gap*40);
}




/*模块入口样式*/



