/*侧边栏用户信息区域*/


/*未登录*/




.message {
    background-color:#fff;
    padding: $gap;
    border-bottom: solid 1px $colord4;
}

.user-tabs {
    width: 100%;
    // height: $gap*8.2;
    list-style: none;

    display: flex;
    // position: relative;
    .item {
        width: 50%;
        padding: $gap*2.3 0;
        flex: 0 1 auto;
        font-size: 16PX;
        text-align: center;
        font-weight: bold;
        border-bottom: solid 1px $colord4;
    }
    .read {
        font-size: $gap*5;
        color: $color80;
        position: absolute;
        right: $gap*1;
        top: $gap*1.5;
        font-weight: bold;
    }
    .br {
        border-right: solid 1px $colord4;
    }
    .selected {
        color: $red;
        border-bottom: solid 2px $red;
    }
}

.topics {
  .icon-empty {
    font-size: $gap*25;
    color: $colord4;
    display: block;
  }
}

