/*侧边栏用户信息区域*/
.user-info {
    padding: 15PX;
    font-size: 15PX;
    color: #313131;
}

/*未登录*/
.login-no {
    overflow: hidden;
    margin: 8PX 9PX;
    &>.login {
        float: right;
        height: 24PX;
        line-height: 24PX;
        padding-left: 34PX;
        position: relative;
        &:before {
            width: 24PX;
            height: 24PX;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .login {
        float: left;
        &:before {
            background: url("../images/components/login_icon.png") no-repeat left center;
            background-size: 24PX 24PX;
        }
    }
}

/*已登录*/
.login-yes {
    height: 100%;
    background: url("../images/components/go_next_icon.png") no-repeat right center;
    background-size: 6PX 10PX;
    overflow: hidden;
    position: relative;
    .avertar {
        width: 40PX;
        height: 40PX;
        background: url("../images/components/user.png") no-repeat center center;
        background-size: 40PX 40PX;
        border-radius: 20PX;
        overflow: hidden;
        float: left;
        &> img {
            width: 40PX;
            height: 40PX;
            display: block;
        }
    }
    .info {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }
    p {
        width: 85px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 12px;
        line-height: 40px;
        &.lh20 {
            line-height: 20px;
        }
    }
    &:after {
        display: block;
        background: url("../images/components/go_icon.png") no-repeat center right;
        background-size: 7PX 7PX;
    }
}

.userinfo {
    margin-top: 100px;
    width: 100%;
    background-color: $colore7;
    text-align: center;
    // height: 180px;
    .u-img {
        width: 100PX;
        height: 100PX;
        border-radius: 50%;
        margin-top: $gap*3;
        display: inline-block;
        background: url("../images/components/user.png") no-repeat center center;
        background-size: 100PX 100PX;

    }
    .u-name {
        color: #000;
    }
    .u-bottom {
      background-color: $colore7;
      width: 100%;
      margin-top: 20px;
      padding-bottom: 20px;
      display: flex;
      .u-time {
        width: 50%;
        padding-left: $gap*2;
        justify-items: center;
        align-items: center;
        justify-content: center;
      }

      .u-score {
        width: 50%;
        text-align: right;
        padding-right: $gap*2;
        color: $color80;
        justify-items: center;
        align-items: center;
        justify-content: center
      }
    }



}

.message {
    background-color:#fff;
    padding: $gap;
    border-bottom: solid 1px $colord4;
}

.user-tabs {
    width: 100%;
    // height: $gap*8.2;
    list-style: none;

    display: flex;
    // position: relative;
    .item {
        width: 50%;
        padding: $gap*2.3 0;
        flex: 0 1 auto;
        font-size: 16PX;
        text-align: center;
        font-weight: bold;
        border-bottom: solid 1px $colord4;
    }
    .read {
        font-size: $gap*5;
        color: $color80;
        position: absolute;
        right: $gap*1;
        top: $gap*1.5;
        font-weight: bold;
    }
    .br {
        border-right: solid 1px $colord4;
    }
    .selected {
        color: $red;
        border-bottom: solid 2px $red;
    }
}

.topics {
  .icon-empty {
    font-size: $gap*25;
    color: $colord4;
    display: block;
  }
}

