.user-info {
  padding: 15px;
  font-size: 30px;
  color: #313131;
}

/*未登录*/
.login-no {
  overflow: hidden;
  margin: 8px 9px;
  .login {
    display: flex;
    align-items: center;
  }
}

/*已登录*/
.login-yes {
  height: 100%;
  background: url("~@/assets/images/components/go_next_icon.png") no-repeat
    right center;
  background-size: 6px 10px;
  overflow: hidden;
  position: relative;
  .avertar {
    width: 40px;
    height: 40px;
    background: url("~@/assets/images/components/user.png") no-repeat center
      center;
    background-size: 40px 40px;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    & > image {
      width: 40px;
      height: 40px;
      display: block;
    }
  }
  .info {
    margin-left: 10px;
    overflow: hidden;
    float: left;
  }
}
