.add-container {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #fff;

  .line {
    padding: 10px 15px;
    border-bottom: solid 1px #d4d4d4;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .err {
      border: solid 1px red;
    }
  }

  .add-content {
    margin: 15px 2%;
    width: 96%;
    border-color: #d4d4d4;
    color: #000;
  }

  .err {
    border: solid 1px red;
  }
}
