
@import '../../assets/scss/_variable.scss';
.topic {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  flex-direction: column;
}

.info {
  display: flex;
}

.info .author {
  font-size: 28px;
}

.bold {
  font-size: 32px;
  font-weight: bold;
}

.avatar {
  max-width: 65Px;
  max-height: 65Px;
  border-radius: 50%;
  margin-right: 10Px;
}

.middle {
  flex: 1;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.mr10 {
  margin-right: 10px;
}

.info .replies {
  font-size: 20px;
  color: darkgray;
}

.node {
  float: right;
}

.node .tag {
  font-size: 24px;
  padding: 5px 15px;
  float: right;
  background-color: #eeeeee;
  border-radius: 5px;
}

.title {
  margin-top: 10px;
  font-size: 30px;
}


.topic {
  &__topic {
    padding: 20px $padding;
    border-bottom: $border;
  }

  &__stitle {
    @extend .title;

    .t-tag {
      margin-right: 10PX;
      margin-top: -3px;
      @extend .tag;
      color: $white;
      &.top {
        background: #E74C3C;
      }

      &.ask {
        background: #3498DB;
      }

      &.good {
        background: #E67E22;
      }

      &.job {
        background: #9B59B6;
      }

      &.share {
        background: #1ABC9C;
      }

    }


  }

  &__content {
    padding-top: 10Px;
    display: flex;
  }

  &__avatar {
    @extend .user-avatar;
  }

  &__info {
    display: block;
    width: 100%;
    flex: 1;

    .region {
      padding: 3px 0;
      display: flex;
      color: $text;
      font-size: $font-info;

      &:first-child {
        font-size: $font-content;
      }

      .name,
      .time:first-child {
        display: block;
        flex: 1 0 auto;
      }
      .status,
      .time2 {
        display: block;
        white-space: nowrap;
        text-align: right;
        flex: 1 0 auto;
      }

      .b {
        color: #42b983;
      }
    }
  }
}

