.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow: hidden;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 188px;
  // background-color: #f5f5f5;
}
