body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: #313131;
  overflow-x: hidden;
  line-height: 1;
  background: url('../images/loading.gif') no-repeat center 250px;
}

@import 'assets/scss/CV.scss';
@import 'assets/scss/iconfont/iconfont.scss';
@import 'assets/scss/github-markdown.scss';
